@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');


$font-1: 'Kanit', sans-serif;
$font-2: 'Exo 2', sans-serif;
$font-3: 'Oxygen', sans-serif;

.App{
	font-family: $font-1;
}